.item {
    background-color: whitesmoke;
    margin-right: 10px;
    margin-top: 20px;
    width: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.btns {
    height: 30px;
    width: 80px;
    margin-bottom: 5px;
    background-color: rgba(255,38,0,0.64);

}

.btns:hover {
    transform: scale(1.05);
}